header {
  padding: 35px;
  background-color: blue;
}
.container-calculator {
  padding: 5px;
}
.visor-div {
  display: flex;
  justify-content: center;
}
.visor {
  border: solid;
  display: flex;
  height: 80px;
  width: 453px;
}
.container-buttons {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.container-simbols {
  display: flex;
  flex-direction: column;
}
button {
  border: solid;
  height: 60px;
  width: 90px;
  font-size: 50px;
  align-items: initial;
}
.button-number {
  border: solid;
  height: 120px;
  width: 120px;
}
footer {
  padding: 35px;
  background-color: crimson;
}
