header {
  padding: 50px;
}
.container-calculator {
  padding: 5px;
}
.visor {
  border: solid;
  display: flex;
  align-items: center;
  height: 72px;
  width: 72px;
}
.container-buttons {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.container-simbols {
  display: flex;
  flex-direction: column;
}
button {
  border: solid;
  height: 72px;
  width: 72px;
  font-size: 75px;
}
.button-number {
  border: solid;
  height: 120px;
  width: 120px;
}
footer {
  padding: 50px;
}
